<div class="min-h-screen bg-cover bg-[url('god.jpg')]">
  <div class="w-6/12 mx-auto py-40 ">
    <div class="flex justify-center bg-white bg-opacity-30 py-40">
      <%= link_to "生まれ変わる", questions_path, data:{ turbo_method: :post }, class: "btn btn-lg rounded-lg" %>
    </div>
  </div>
</div>
