<div class="min-h-screen bg-cover bg-[url('god.jpg')]">
  <div class="w-6/12 mx-auto py-40">
    <div class="flex justify-center bg-white bg-opacity-30">
      <p><%= @animal.name %></p>
      <p><%= @animal.comment %></p>
    </div>
  </div>
</div>
